* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: 'Agbalumo', system-ui;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
/*btn*/
.btn {
    display: inline-block;
    padding: 13px 13px;
    text-decoration: none;
}
.btn-primary {
    background: black;
    color: #fff;
    font-weight: bold;
}
.btn-primary:hover {
    background: #373B41;
}
.btn-secondary {
    font-size: 20px;
    line-height: 2rem;
    background: #F5F7FB;
    font-weight: 600;
    height: 64px;
    width: 300px;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.btn-secondary:hover {
        box-shadow: 0 30px 10px -30px #9c9c9c;    

}

.btn-more {
    border-style: solid;
    font-weight: 600;
    border-color: black;
    border-width: 1px;
}
/*.btn-more:hover {
    box-shadow: 2px 4px 4px  rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s ease;
}*/
/*navbar*/
#navbar {
    display: flex;
    background-color: black;
    overflow: auto;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}
#navbar div {
    display: flex;
    margin-left: 100px;
}
#navbar p {
    display: flex;
    color: white;
    align-items: center;
    margin-left: 10px;
}
#navbar img {
    width: 77.86px;
    height: 74.91px;
}
#navbar ul { 
    display: flex;
    align-items: center;
}
#navbar ul li a{
    margin-right: 50px;
    text-decoration: none;
    color: white;
    padding: 20px;
    
}


/* showcase */
.showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*  headings */
.l-heading {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 10px;  
}
.m-heading {
    font-size: 30px;
    font-weight: bold;
    margin-left: 120px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.par {
    font-size: 1.6rem;
    margin-bottom: 25px;
}

.gif {
    width:381px;
    height: 140px;
}
/* Värvid (bänner gif) */

.gif2 {
position: absolute;
width: 100%;
height: 100%;
left: 0px;
pointer-events: none;

}
/* activities*/
#activities {
    margin-top: 18px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.container {
    text-align: center;
}
.img_container {
    margin-bottom: 18px;
}
.img_container img {
    width: 340px; 
    height: 340px; 
    margin-bottom: 10px; 
    border-radius: 8px; 
}

.btn_container button {
    width: 340px;
    max-width: 100%;
    background-color: #F5F7FB; 
    color: black; 
    border: none;
}


/*#activities-boxes {
    margin: 0 0.875em;
    display: flex;
    justify-content: space-evenly;
}

#activities-boxes img {
    /*margin-right: 20px;
    margin-left: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 18px;
    width: 320px;
    height: 320px;
    
}*/






/* schedule */
table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-color: gray;
        border-collapse: collapse;
        margin: 0 auto;
        width: 1600px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    padding: 10px;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 16px;
    
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
    padding: 20px;
    text-align: left;
}

.date {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.grey {
    background-color: #F5F7FB;
}
.button {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* info */
#info {
    position: relative;
    text-align: center;
}
#info img {
    max-width: 100%;
    width: 1200px;
    height: 238px;
    display: block;
    display: inline-block;
}
#info .info-text {
    position: absolute;
    top: 30%;
    left: 65%;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}
#info a {
    position: inherit;
    font-size: 16px;
    right: 15%;
    top: 170%;
}

/*news
.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}
*/

/*.articleTile {
    font-size: 1rem;
    height: 100%;
    position: relative;
    z-index: 1
}

.articleTile_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.articleTile_link:hover {
    color: inherit
}

.articleTile_image {
    padding-bottom: 44.375%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dde3ed;
    position: relative;
}

.articleTile_content {
    background-color: #fff;
    padding: 1rem 1rem 1.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.articleTile_title {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.625
}

.articleTile_excerpt {
    font-size: .875em;
    margin-top: 1rem;
    line-height: 1.8571
}*/


/*@media (min-width: 768px) {
    .articleTile_image {
        padding-bottom:37.6471%
    }

    .articleTile_content {
        padding: 1rem 1.5rem 3rem
    }

    .articleTile_date {
        margin-bottom: .75rem
    }

    .articleTile_title {
        font-size: 1.125rem;
        line-height: 1.6111;
        font-weight: 700
    }

    .articleTile_excerpt {
        margin-top: 1.5rem
    }
}*/

/* partners */
#partners .m-heading{
    margin-top: 50px;
}
#partners .partners-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

#footer {
    display: block;
    background-color: black;
    color: #fff;
    padding: 20px;
}
.footer_logo {
  
}
#footer img {
    display: flex;
    position: relative;
    left: 10%;
    top: 20;
    max-width: 100%;
}
.footer_col{
    text-align: center;
    display: grid;
    justify-content: center;
    width: 500px;
    position: relative;
    left: 130px;
    top: 0;
}
#footer p {
    font-size: 16px;
    font-weight: 600;
}
.footer_mainCol{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer_grid{
    display: flex;
}
.container.footer {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.footer_bottom {
    background-color: #fff;
    color: black;
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}